* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.section-1 {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 238, 238);
}

.left {
    display: flex;
    gap: 10px;
    margin: 20px;
    margin-left: 40px;
}

.call {
    margin-left: 30px;
}

.yellow:hover {
    color: rgb(216, 196, 80);
}

.title {
    margin-top: 20px;
}

.language {
    display: flex;
}

.valuta {
    display: flex;
}

.right {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    margin-right: 60px;
}

.right i {
    margin-top: 3px;
    margin-left: 3px;
}

.section-2 {
    margin-top: -8px;
    width: 100%;
    height: 450px;
    background-color: rgb(247, 242, 242);
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9f/Maarten_Deckers_2017-03-23_%28Unsplash%29.jpg");
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: 100%;
}

.section-2 .header{
    display: flex;
    gap: 400px;
}

.section-2 .left {

    display: flex;
    gap: 25px;
}

.section-2 .left i {
    margin-top: 3px;
    color: rgb(167, 164, 164);
}

.section-2 .left span {
    color: rgb(167, 164, 164);
    font-size: 17px;
}

.section-2 .left div {
    font-weight: 600;
    cursor: pointer;
    height: 25px;
}

.section-2 .left .home,
.shop,
.icons,
.pages,
.docks {
    display: flex;
}


.section-2 .right{
    display: flex;
    gap: 110px;
}

.section-2 .right input {
    width: 250px;
    height: 35px;
    border-color: white;
    border: none;
    border-bottom: 1px solid black;
    background-color: white
}

.section-2 .right  i{
    font-size: 24px;
    cursor: pointer;
}

.section-2 .right .myIcons{
    display: flex;
    gap: 15px;
}

.section-2 .right input::placeholder {
    margin: 5px;
    padding: 0px;
}

.section-2 .right .search {
    display: flex;
}

.section-2 .main{
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.section-2 .main .title{
    color: #868e96;
    display: flex;
    gap: 7px;
}

.section-2 .main .title a{
    color: rgb(202, 181, 62) ;
}

.section-2 .main .header_title{
    font-size: 70px;
    font-weight: bolder;
}

.section-2 .left :hover {
color: black;
}

.section-2 .right .myIcons i:hover{
    color:rgb(216, 196, 80) ;
}

.section-3{
    margin-top: 80px;
    width: 100%;
    height: 310px;
}

.section-3 .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.section-3 .contact .for_contact {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 10px;
    background-color: white;
    color: #868e96 !important;
    font-weight: bold;
}

.section-3 .contact .left{
    margin-left: 100px;
}

.section-3 .contact .for_contact .title {
    color: black;
    font-size: 28px;
    font-weight: bolder;
}

.section-3 .contact .for_contact .text{
    width: 380px;
}

.section-3 .contact .for_contact .call_text{
    width: 380px;
    line-height: 27px;
}

.section-3 .contact .for_contact .adress_text{
    width: 200px;
    line-height: 24px;
}

.section-4{
    width: 100%;
    height: 750px;
    background-color: rgb(229, 227, 227);
}

.section-4 .myMap {
    display: flex;
    gap: 70px;
}

.section-4 .myMap .left {
    margin-top: -1px;
    margin-left: -10px;
    width: 50%;
    height: max-content;
}

.section-4 .myMap .right {
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-left: 20px;
}

.section-4 .myMap .title {
    margin-top: 70px;
    font-size: 80px;
    font-weight: bold;
    color: #798088;

}

.section-4 .myMap .right .country {
    display: flex;
    gap: 30px;
    font-weight: 500;
}

.section-4 .myMap .right .name {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bolder;
}

.section-4 .myMap .right .country .text,
.text1,
.text2,
.text3 {
    width: 150px;
    line-height: 20px;
}

.section-4 .myMap .right .country .text1 {
    margin-left: 28px;
}

.section-4 .myMap .right .country .text2 {
    margin-left: 60px;
}

.section-4 .myMap .right .country .text3 {
    margin-left: 49px;
}

.section-5  {
    height: 600px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-5 .contact_text {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-5 .text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-5 .contactsForm {
    width: 50%;
    height: 100%;
}

.section-5 .header {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.section-5 .header p {
    color: rgb(19, 14, 24);
    width: 460px;
    font-size: 90px;
    font-weight: bold;
    line-height: 90px;
}

.section-5 .icons {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    font-size: 2rem;
    color: rgb(167, 154, 81);
    cursor: pointer;
}

.section-5 .icons i:hover{
    color: rgb(116, 107, 57);
}

.section-5 .header_title {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-5 .contactsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-5 .contactsForm form {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200 bold;
    font-weight: bold;
}

.section-5 .btnCont {
    display: flex;
    justify-content: flex-start;
}

.section-5 .btnCont button {
    height: 40px;
    width: 200px;
    letter-spacing: 5px;
    text-align: center;
    background-color: white;
    color: rgb(167, 154, 81);
    border: 1px solid rgb(167, 154, 81);;
    font-size: 14px;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
}

.section-5 .btnCont button:hover {
    background-color: rgb(167, 154, 81);
    color: black;
    transition: .3s;
}

.section-5 .bottomborder {
    border: 0px;
    border-bottom: 1px solid grey;
    outline: none;
    transition: .3s;
    padding-left: 100px;
    height: 70px;
}

.section-5 .bottomborder:focus {
    border-bottom-color: rgb(167, 154, 81);
    transition: .3s;
}

.section-5 .bottomborder:hover {
    border-bottom-color: rgb(167, 154, 81) !important;
    transition: .3s;
}

.section-5 .nameSurname {
    display: flex;
    gap: 20px;
}

.section-5 .name {
    display: flex;
    flex-direction: column;
}

.section-6 {
    margin-top: 100px;
    width: 100%;
    height: 250px;
    background-color: rgb(241, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.section-6 .offer {
    display: flex;
    gap: 3px;
}

.section-6 .offer .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(167, 167, 167);
    font-size: 17px;
}

.section-6 .offer .text .black {
    color: black;
    font-weight: bold;
}

.section-7 {
    display: flex;
    gap: 120px;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.section-7 .left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}

.section-7 .left .title {

    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}

.section-7 .left .lorem {
    color: rgb(138, 138, 138);
    font-size: 16px;
}

.section-7 .left input {
    height: 30px;
    width: 200px;
    border: none;
    border-bottom: 1px solid black;
}

.section-7 .right {
    display: flex;
    gap: 120px;
}

.section-7 .right .component {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-7 .right div {
    font-size: 20px;
    font-weight: bold;
}

.section-7 .right span {
    font-size: 16px;
    color: rgb(138, 138, 138);
}

