* {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.activeIcon {
  color: #bcac76;
  transition: 300ms !important;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

 .navbar_header {
  font-size: 15px;
  background-color: #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 43px !important;
}

 .navbar_header .header_right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 14px;
}

 .navbar_header .header_right #language {
  border: none;
  border-right: solid rgba(33, 37, 41, 0.0862745098) 1px;
  padding-right: 0.7rem !important;
  cursor: pointer;
}

 .navbar_header .header_right #valuta{
  cursor: pointer;
}

 .navbar_header .header_right div {
  display: flex;
  align-items: center;
  gap: 3px;
}

 .navbar_header .header_right div i {
  font-size: 12px;
  font-weight: 700;
  position: relative;
  transform: rotate(180deg);
  transition-duration: 300ms;
}

 .navbar_header .header_right div .Rotate {
  transform: rotate(360deg);
  transition-property: transform;
  transition-duration: 300ms;
}

 .navbar_header #nav_center {
  transform: scaleX(0.9);
  position: relative;
  right: 37px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 14px;
}

 .navbar_header .header_left {
  font-size: 14px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 20px;
}

 .navbar_header .header_left .socialMedia {
  display: flex;
  gap: 12px;
  cursor: pointer;
  margin-left: 5px !important;
}

 .navbar_header .header_left .socialMedia i:hover {
  color: #bcac76;
  transition: 300ms !important;
}

 .navbar_header .header_left img {
  width: 20px;
  height: 20px;
}

 .navbar_header .header_left div {
  display: flex;
  gap: 5px;
}

 .navbar_header .header_left div #number {
  font-family: "Roboto Mono", monospace !important;
  transform: scaleX(0.9);
  transform: scaleY(1.1);
  font-size: 13px;
}

 .sellections div {
  display: flex;
  flex-direction: column;
}

 .sellections a {
  padding: 5px 10px !important;
}

 .sellections a:active {
  color: #bcac76 !important;
}


 .main__navbar {
  transform: scaleY(1.05);
  padding: 27px 47px !important;
  display: flex;
  align-items: center;
  gap: 22px;
  color: #868e96 !important;
  justify-content: space-between;
  margin-right: 15px !important;
}

 .main__navbar h1 {
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

 .main__navbar .iconsNavbar {
  display: flex;
  gap: 20px;
}

 .main__navbar .iconsNavbar .badge {
  position: absolute;
  top: 25px;
  right: 120px;
  font-size: 12px;
  padding: 3px 5px !important;
  border-radius: 50%;
  background: #bcac76;
  color: white;
}

 .main__navbar .iconsNavbar .badge2 {
  top: 25px;
  right: 80px;
}

 .main__navbar .iconsNavbar i {
  font-size: 1.5rem;
}

 .main__navbar .iconsNavbar i:hover {
  color: #bcac76 !important;
  cursor: pointer;
  transition: 300ms;
}

 .main__navbar .borderBlack {
  border-color: black !important;
  transition: all 500ms;
}

@media (min-width: 1100px) {
  body .main__navbar #searchArea {
    margin-right: calc(193px - 10vw) !important;
  }

  body .main__navbar  h1 {
    margin-top: 2px !important;
  }
}

 .main__navbar #searchArea {
  transition-property: border;
  transition: boder 500ms;
  border-bottom: 1px solid rgba(134, 142, 150, 0.5137254902);
  padding-bottom: 5px !important;
  outline: none;
}

 .main__navbar #searchArea i {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.719) !important;
  padding: 5px 20px !important;
  cursor: pointer;
}

 .main__navbar #searchArea input {
  border: none;
  outline: none;
  width: 200px;
  background-color: transparent;
}

 .main__navbar #searchArea input::-moz-placeholder {
  font-size: 15px;
  font-weight: 600;
  color: rgba(134, 142, 150, 0.6823529412);
  padding: 10px 15px;
}

 .main__navbar #searchArea input::placeholder {
  font-size: 15px;
  font-weight: 600;
  color: rgba(134, 142, 150, 0.6823529412);
  padding: 10px 15px;
}

 .main__navbar .colorBlack {
  color: black;
}

 .main__navbar .pages {
  color: rgba(0, 0, 0, 0.389);
  display: flex;
  gap: 15px;
  align-items: center;
  font-weight: 600;
}

 .main__navbar .pages p:active {
  color: black;
}

 .main__navbar .pages #homeBtn,
 .main__navbar .pages #homeArrow {
  color: black;
}

 .main__navbar .pages .navigation {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

 .main__navbar .pages .navigation i {
  font-size: 12px;
  font-weight: 900 !important;
  transition-duration: 300ms;
}

 .main__navbar .pages .navigation .Rotate {
  transform: rotate(180deg);
  transition-property: transform;
  transition-duration: 300ms;
}

 .main__navbar .pages .navigation p {
  text-transform: capitalize;
  cursor: pointer;
}

 .main__navbar .pages div:hover p,
 .main__navbar .pages div:hover i {
  color: black;
  cursor: pointer;
}

 .show {
  opacity: 1 !important;
  top: 135px !important;
  transition-duration: 300ms;
  z-index: 4 !important;
}

 .show a:hover {
  color: black !important;
  cursor: pointer;
}

 #backgroundSlider {
  position: absolute;
  z-index: -2;
  top: 0;
}

 .slider {
  width: 100%;
  margin: 0 auto;
  height: 500px !important;
}

 .slide-content {
  height: 500px !important;
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: center;
  justify-content: space-around;
}

 .slide-content .right img {
  width: 330px;
}

 .slide-content .right .item {
  position: absolute !important;
}

 .slide-content .right .itemBeing {
  width: 440px;
  bottom: 20px !important;
}

 .slide-content .right .item2 {
  bottom: 20px !important;
  left: 20px !important;
  z-index: -1;
}

 .slide-content .left {
  margin: 117px 0px !important;
  width: 553px;
}

 .slide-content .left p {
  color: #868e96;
  margin-top: 20px !important;
}

 .slide-content .left h2 {
  font-size: 16px;
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 5px;
  font-weight: 400;
}

 .slide-content .left h1 {
  font-size: 67px;
  padding-top: 20px !important;
  line-height: 70px;
}

 .slide-content .left button {
  margin-top: 48px !important;
  border: 1px solid #bcac76;
  background-color: transparent;
  color: #bcac76;
  font-size: 13px;
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 4px;
  font-weight: 600;
  padding: 10px 15px !important;
}

 .slide-content .left button:hover {
  color: black !important;
  background-color: #bcac76;
  transition: 300ms;
}

 h2 {
  font-size: 24px;
}

 p {
  font-size: 16px;
}

 .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  bottom: 20px !important;
}

 .slick-dots li {
  margin: 0 5px !important;
  display: inline-block;
}

 .slick-dots li button {
  color: transparent !important;
  font-size: 12px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: none;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.3;
}

 .slick-dots li.slick-active button {
  background-color: #bcac76;
}

 .head {
  margin: 100px 70px !important;
}

 .head h1 {
  color: #868e96;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 600;
}

 .head h2 {
  padding: 10px 0 !important;
  font-weight: 700;
  font-size: 30px;
}

 .head p {
  color: #868e96;
  font-size: 20px;
}

 .section1 {
  padding: 0 40px !important;
}

 .section1 .products__gridcontaier {
  display: flex;
  flex-direction: column;
}

 .section1 .products__gridcontaier .productline {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

 .section1 .products__gridcontaier .productline .product:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 300ms;
}

 .section1 .products__gridcontaier .productline .product {
  z-index: 2;
  padding-bottom: 100px !important;
}

 .section1 .products__gridcontaier .productline .product img {
  width: 200px;
}

 .section1 .products__gridcontaier .productline .product h1 {
  font-size: 32px;
  font-weight: 600;
  width: 50px;
  color: rgba(0, 0, 0, 0.777);
}

 .section1 .products__gridcontaier .productline .product p {
  color: #868e96;
  font-weight: 600;
  font-size: 16px;
  padding: 20px 0 !important;
}

 .section1 .products__gridcontaier .productline .product a {
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  text-decoration: none;
  color: currentColor !important;
  padding: 20px 0 !important;
}

 .section1 .products__gridcontaier .productline .product a:visited {
  color: currentColor !important;
}

 .section1 .products__gridcontaier .productline #book img {
  width: 320px;
  height: 320px;
}

 .section1 .products__gridcontaier .productline #chair {
  display: flex;
}

 .section1 .products__gridcontaier .productline #chair #chairText {
  position: relative;
  left: 10px;
  margin-top: 100px !important;
}

 .section1 .products__gridcontaier .productline #chair img {
  z-index: -1;
  width: 539px;
  height: 539px;
}

 .section1 .products__gridcontaier .productline #clock {
  display: flex;
}

 .section1 .products__gridcontaier .productline #clock img {
  z-index: -1;
  width: 480px;
  height: 480px;
  margin-left: 20px !important;
}

body .section1 .products__gridcontaier .productline #clock .aboutText {
  position: relative;
  top: 90px;
}

 .section1 .products__gridcontaier .productline #box img {
  width: 300px;
}

 .section1 .products__gridcontaier .productline #chair3 {
  display: flex;
}

 .section1 .products__gridcontaier .productline #chair3 img {
  width: 500px;
  z-index: -1;
}

 .section1 .products__gridcontaier .productline #chair3 .aboutText {
  position: relative;
  top: 100px;
}

 .section2 {
  width: 100%;
}

 .section2 #section2Back {
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: -1;
}

 .section2 .section2__about {
  display: flex;
  padding-left: 150px !important;
  padding-top: 20px !important;
}

 .section2 .section2__about #chair__container {
  width: 339px;
  height: 440px;
}

 .section2 .section2__about #chair__container img {
  width: 100%;
  height: 100%;
}

 .section2 .section2__about #time {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px 0px !important;
  position: relative;
  width: 500px;
  height: 100px;
}

 .section2 .section2__about #time img {
  width: 100%;
  height: 100%;
}

 .section2 .section2__about p {
  color: #dc3545;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  text-decoration: none;
  padding: 20px 0 !important;
}

 .section2 .section2__about h1 {
  font-size: 30px;
  font-weight: 600;
  width: 400px;
  color: rgba(0, 0, 0, 0.837);
}

 .section2 .section2__about span {
  color: #5f6469;
  font-size: 11px;
  padding: 5px !important;
}

 .section2 .section2__about #overline {
  text-decoration: line-through;
}

 .section2 .section2__about #off50 {
  background-color: #dc3545;
  color: white;
  border: 1px transparent;
  font-size: 10px;
  padding: 10px !important;
  border-radius: 5px;
  margin-top: 10px !important;
}

 .section2 .section2__about #shopnow {
  padding: 10px 15px !important;
  background-color: transparent;
  border: 1px solid black;
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

 .section2 .section2__about button:hover {
  transition: 400ms;
  color: white !important;
  background-color: black !important;
  cursor: pointer;
}

 .section4 {
  transition: 330ms;
  margin-top: 50px !important;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 40px;
}

 .section4 .section4__product:hover {
  cursor: pointer;
}

 .section4 .section4__product:hover img {
  transform: scale(1.3);
}

 .section4 .section4__product {
  overflow: hidden;
}

 .section4 .section4__product .section4__img {
  overflow: hidden;
  width: 255px;
  height: 350px;
}

 .section4 .section4__product .section4__img img {
  width: 100%;
  height: 100%;
}

 .section4 .section4__product .section4__about {
  font-size: 15px;
  color: #303234;
  font-weight: 600;
  padding: 10px 0px !important;
}

 .section4 .section4__product .section4__about:hover {
  text-transform: capitalize;
  text-decoration: underline;
  cursor: pointer;
}

 .section4 .section4__product .section4__price {
  font-size: 15px;
  color: rgba(134, 142, 150, 0.8352941176);
}

 .section5 {
  padding: 20px 55px !important;
  width: 100%;
  height: 450px;
  position: absolute;
  margin-top: 100px !important;
}

 .section5 #section5__background {
  width: 100%;
  height: 100%;
}

 .section5 .section5__title {
  position: absolute;
  top: 120px;
  left: 310px;
  color: #303234;
  text-align: center;
}

 .section5 .section5__title h1 {
  padding-bottom: 25px !important;
  font-size: 70px;
  text-transform: capitalize;
}

 .section5 .section5__title h2 {
  font-size: 30px;
  font-weight: 400;
}

 .section5 .section5__title button {
  background-color: transparent;
  border: 1px solid #303234;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  color: #303234;
  padding: 10px 20px !important;
  margin-top: 40px !important;
  z-index: 3 !important;
}

 .section5 .section5__title button:hover {
  transition: 400ms;
  color: white !important;
  background-color: black !important;
}

 #section5__chair {
  width: 250px;
  height: 430px;
  left: 900px;
  top: 70px;
  position: relative;
}

 .section6 {
  display: flex;
  margin-top: 50px !important;
  background-color: rgba(134, 142, 150, 0.0862745098);
  justify-content: center;
  justify-content: space-evenly;
}
 .section6 .item {
  padding: 120px 0px !important;
  display: flex;
  gap: 20px;
}
 .section6 .item i {
  font-size: 30px;
  color: #868e96;
}
 .section6 .item h1 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px !important;
}
 .section6 .item h2 {
  font-size: 14px;
  color: #5f6469;
  font-weight: 400;
}
 .section7 {
  display: flex;
}
 .section7 .fa-plus {
  display: none;
}
 .section7 .section7__right {
  display: flex;
}
 .section7 .section7__right .horizontal__Info {
  margin: 85px 80px !important;
}
 .section7 .section7__right .horizontal__Info h1 {
  font-size: 16px;
  margin-bottom: 20px !important;
}
 .section7 .section7__right .horizontal__Info li {
  margin-top: 10px !important;
  list-style: none;
  color: #868e96;
  font-weight: 500;
}
 .section7 .section7__left {
  display: flex;
  flex-direction: column;
  margin: 88px !important;
}
 .section7 .section7__left #email__adress {
  border-bottom: 1px solid #868e96 !important;
  display: flex;
  align-items: center;
  width: 320px;
}
body .section7 .section7__left #email__adress .borderGray {
  border-color: #868e96 !important;
}
 .section7 .section7__left #email__adress input {
  outline: none;
  border: none;
  margin-right: 80px !important;
}
 .section7 .section7__left i {
  font-size: 30px;
  color: #868e96;
}
 .section7 .section7__left h1 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px !important;
}
 .section7 .section7__left h2 {
  font-size: 14px;
  color: #5f6469;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 20px !important;
}
 .section7 .section7__left input::-moz-placeholder {
  font-size: 15px;
  font-weight: 600;
  color: rgba(134, 142, 150, 0.6823529412);
  text-transform: capitalize;
}
 .section7 .section7__left input::placeholder {
  font-size: 15px;
  font-weight: 600;
  color: rgba(134, 142, 150, 0.6823529412);
  text-transform: capitalize;
}

.section7 li:hover{
  color: black;
}

 .end {
  margin-top: 95px !important;
  width: 100%;
  height: 1px;
  color: transparent;
}

 .main__navbar-smaller {
  display: none;
}

 .section1__small {
  display: none;
}

@media only screen and (max-width: 900px) {
   .navbar_header {
    padding: 16px 10px !important;
  }

   .navbar_header p {
    font-size: 14px;
  }

   .navbar_header .header_left {
    gap: 28px;
  }

   .navbar_header .header_right {
    gap: 20px;
    margin-right: 6px !important;
    font-size: 12px;
  }

   .navbar_header .header_right #language{
    border: none;
    border-right: solid rgba(33, 37, 41, 0.0862745098) 1px;
    padding-right: 0.7rem !important;
    cursor: pointer;
  }

   .navbar_header #nav_center {
    right: 33px;
  }

   .main__navbar {
    display: none !important;
  }

   .Rotate {
    transform: rotate(180deg);
    transition-property: transform;
    transition-duration: 300ms;
  }

   .show {
    top: 135px !important;
    height: -moz-max-content !important;
    height: max-content !important;
    transition: height 4s ease !important;
    z-index: 4 !important;
  }

   .show a:hover {
    color: black !important;
    cursor: pointer;
  }

   .padding {
    padding-bottom: 140px !important;
    transition: 300ms;
  }

   .padding2 {
    padding-bottom: 300px !important;
    transition: 300ms;
  }

   .padding3 {
    padding-bottom: 700px !important;
    transition: 300ms;
  }

   .padding4 {
    padding-bottom: 220px !important;
    transition: 300ms;
  }

   .bcolorWhite {
    background-color: white;
  }

   .main__navbar-smaller {
    display: block;
    transform: scaleY(1.05);
  }

   .main__navbar-smaller .pages {
    padding: 18px 16px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

   .main__navbar-smaller .pages h1 {
    font-size: 15px;
  }

   .main__navbar-smaller .pages .middle__section {
    display: flex;
    gap: 20px;
    transform: translateX(-10%);
  }

   .main__navbar-smaller .pages .middle__section i {
    font-size: 1.5rem;
    position: relative;
  }

   .main__navbar-smaller .pages .middle__section i:hover {
    color: #bcac76 !important;
    cursor: pointer;
    transition: 300ms;
  }

   .main__navbar-smaller .height {
    height: 900px !important;
  }

   .main__navbar-smaller .height2 {
    height: 1100px !important;
  }

   .main__navbar-smaller .height3 {
    height: 500px !important;
  }

   .main__navbar-smaller .burgermenu__mainnavbar {
    z-index: -1;
    padding: 18px 16px !important;
    background-color: white;
    display: flex;
    width: 100%;
    height: 0;
    transition: height 0.5s ease;
    overflow: hidden;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #868e96 !important;
    gap: 15px;
  }

   .main__navbar-smaller .burgermenu__mainnavbar .borderBlack {
    border-color: black !important;
    transition: all 500ms;
  }

   .main__navbar-smaller .burgermenu__mainnavbar .navigation {
    display: flex;
    align-items: center;
    gap: 5px;
  }

   .main__navbar-smaller .burgermenu__mainnavbar #searchArea {
    transition-property: border;
    transition: boder 500ms;
    border-bottom: 1px solid rgba(134, 142, 150, 0.5137254902);
    padding-bottom: 5px !important;
    outline: none;
    display: flex;
  }

   .main__navbar-smaller .burgermenu__mainnavbar #searchArea i {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.719) !important;
    padding: 5px 20px !important;
    cursor: pointer;
  }

   .main__navbar-smaller .burgermenu__mainnavbar #searchArea input {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
  }

   .main__navbar-smaller .burgermenu__mainnavbar #searchArea input::-moz-placeholder {
    font-size: 15px;
    font-weight: 600;
    color: rgba(134, 142, 150, 0.6823529412);
    padding: 10px 15px;
  }

   .main__navbar-smaller .burgermenu__mainnavbar #searchArea input::placeholder {
    font-size: 15px;
    font-weight: 600;
    color: rgba(134, 142, 150, 0.6823529412);
    padding: 10px 15px;
  }

   .main__navbar-smaller .burgermenu__mainnavbar #homeBtn2,
   .main__navbar-smaller .burgermenu__mainnavbar #homeArrow2 {
    color: black;
  }

   .main__navbar-smaller .burgermenu__mainnavbar div:hover p,
   .main__navbar-smaller .burgermenu__mainnavbar div:hover i {
    color: black;
    cursor: pointer;
  }

   .main__dropdownsSmaller {
    pointer-events: none;
  }

   .main__dropdownsSmaller .pages__dropdown2 {
    z-index: -1;
    opacity: 0;
    display: flex;
    gap: 30px;
    transform: translate(-50%, 0%);
    top: 220px !important;
    left: 338px !important;
    width: 600px !important;
    justify-content: space-between;
  }

   .main__dropdownsSmaller .pages__dropdown2 a {
    font-size: 10px !important;
    font-weight: 500;
  }

   .main__dropdownsSmaller .pages__dropdown2 img {
    width: 250px;
    height: 160px;
  }

   .main__dropdownsSmaller .pages__dropdown2 h1 {
    color: black;
    font-size: 11px;
    padding: 20px 15px 8px 15px !important;
    font-weight: 600;
  }

   .main__dropdownsSmaller .pages__dropdown2 .HomePage {
    display: flex;
    flex-direction: column;
  }

   .main__dropdownsSmaller .pages__dropdown2 .HomePage a {
    padding: 8px 0 5px 15px !important;
  }

   .main__dropdownsSmaller .pages__dropdown2 .otherProcess {
    display: flex;
    flex-direction: column;
  }

   .main__dropdownsSmaller .pages__dropdown2 .blog {
    display: flex;
    flex-direction: column;
  }

   .main__dropdownsSmaller .pages__dropdown2 .cutomer {
    display: flex;
    flex-direction: column;
  }

   .main__dropdownsSmaller .icons__dropdown2 {
    left: 24px !important;
    height: -moz-max-content !important;
    height: max-content !important;
    top: 200px !important;
    transition: all 400ms;
    opacity: 0;
  }

   .main__dropdownsSmaller .icons__dropdown2 .icons__gridClass {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }

   .main__dropdownsSmaller .icons__dropdown2 .icons__gridClass .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 23px !important;
    color: rgba(0, 0, 0, 0.869);
    font-weight: 700;
  }

   .main__dropdownsSmaller .icons__dropdown2 .icons__gridClass .item img {
    margin-bottom: 20px !important;
    width: 50px;
    margin: 10px 12px !important;
  }

   .main__dropdownsSmaller a {
    text-decoration: none !important;
    color: currentColor;
    cursor: default;
  }

   .main__dropdownsSmaller .home__dropdown2 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    top: 111px !important;
    left: 24px !important;
    opacity: 1;
    height: -moz-max-content !important;
    height: max-content !important;
  }

   .main__dropdownsSmaller .docs__dropdown2 {
    transition: all 400ms;
    display: flex;
    flex-direction: column;
    padding: 10px 5px !important;
    left: 24px !important;
    top: 270px !important;
    color: rgba(33, 37, 41, 0.0862745098);
    opacity: 0;
  }

   .main__dropdownsSmaller .docs__dropdown2 a {
    padding: 25px 0px !important;
  }

   .main__dropdownsSmaller .docs__dropdown2 #Bootstrap {
    border-top: 1px solid rgba(134, 142, 150, 0.1647058824);
    margin-top: 10px !important;
  }

   .main__dropdownsSmaller .shop__dropdown2 {
    transition: all 400ms;
    left: 25px !important;
    display: flex;
    width: 700px !important;
    justify-content: space-around;
    top: 150px !important;
    left: 25px !important;
    height: -moz-max-content !important;
    height: max-content !important;
    opacity: 0;
  }

   .main__dropdownsSmaller .shop__dropdown2 h1 {
    color: black;
    font-size: 10px;
    padding: 8px !important;
    font-weight: 600;
  }

   .main__dropdownsSmaller .shop__dropdown2 div {
    display: flex;
    flex-direction: column;
  }

   .main__dropdownsSmaller .shop__dropdown2 div a {
    padding: 8px !important;
    font-size: 10px;
  }

   .main__dropdownsSmaller .shop__dropdown2 img {
    width: 290px;
    -o-object-fit: cover;
    object-fit: cover;
    padding-left: 30px !important;
  }

   .main__dropdownsSmaller .dropdown {
    z-index: -3;
    position: absolute;
    background-color: transparent;
    color: #868e96;
    font-size: 15px;
    font-weight: 400;
    width: -moz-max-content;
    width: max-content;
    top: 180px;
    left: 120px;
    opacity: 0;
    transition: all 200ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

   .main__dropdownsSmaller .dropdown a {
    padding: 8px 25px 5px 15px !important;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500 !important;
    transform: scaleY(1.05);
  }

   .main__dropdownsSmaller .dropdown a span {
    color: #bcac76;
    background-color: #f7f5ef;
    border-radius: 5px !important;
    font-size: 10px;
    padding: 2px 5px !important;
    margin-left: 5px !important;
    font-weight: 700;
  }

   .show {
    opacity: 1 !important;
    top: 0px !important;
    transition-duration: 300ms;
    z-index: 4 !important;
  }

   .show a:hover {
    color: black !important;
    cursor: pointer;
  }

   .show__burger {
    pointer-events: auto;
    opacity: 1 !important;
    top: 0px !important;
    transition-duration: 300ms;
    z-index: 3 !important;
    height: 420px !important;
  }

   .show__burger a:hover {
    color: black !important;
    cursor: pointer;
  }

   .slide-content {
    height: 500px !important;
    padding: 0px !important;
    padding-left: 60px !important;
    width: 100%;
    justify-content: center;
  }

   .slide-content .right img {
    width: 330px;
  }

   .slide-content .right .item {
    position: absolute !important;
  }

   .slide-content .right .itemBeing {
    width: 380px;
    bottom: 20px !important;
  }

   .slide-content .right .item2 {
    bottom: 20px !important;
    left: 20px !important;
    z-index: -1;
  }

   .slide-content .left {
    margin: 117px 0px !important;
    width: 553px;
  }

   .slide-content .left p {
    color: #868e96;
    margin-top: 20px !important;
  }

   .slide-content .left h2 {
    font-size: 16px;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 5px;
    font-weight: 400;
  }

   .slide-content .left h1 {
    font-size: 67px;
    padding-top: 20px !important;
    line-height: 70px;
  }

   .slide-content .left button {
    margin-top: 48px !important;
    border: 1px solid #bcac76;
    background-color: transparent;
    color: #bcac76;
    font-size: 13px;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 4px;
    font-weight: 600;
    padding: 10px 15px !important;
  }

   .slide-content .left button:hover {
    color: black !important;
    background-color: #bcac76;
    transition: 300ms;
  }

   .head {
    margin: 100px 30px !important;
  }

   .head h1 {
    color: #868e96;
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: 600;
  }

   .head h2 {
    padding: 10px 0 !important;
    font-weight: 700;
    font-size: 20px;
  }

   .head p {
    color: #868e96;
    font-size: 17px;
  }

   .section1 {
    padding: 0 !important;
  }

   .section1 .products__gridcontaier {
    display: flex;
    flex-direction: column;
  }

   .section1 .products__gridcontaier .productline {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }

   .section1 .products__gridcontaier .productline .product:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 300ms;
  }

   .section1 .products__gridcontaier .productline .product {
    z-index: 2;
    padding-bottom: 100px !important;
  }

   .section1 .products__gridcontaier .productline .product img {
    width: 200px;
  }

   .section1 .products__gridcontaier .productline .product h1 {
    font-size: 32px;
    font-weight: 600;
    width: 50px;
    color: rgba(0, 0, 0, 0.777);
  }

   .section1 .products__gridcontaier .productline .product p {
    color: #868e96;
    font-weight: 600;
    font-size: 16px;
    padding: 20px 0 !important;
  }

   .section1 .products__gridcontaier .productline .product a {
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    text-decoration: none;
    color: currentColor !important;
    padding: 20px 0 !important;
  }

   .section1 .products__gridcontaier .productline .product a:visited {
    color: currentColor !important;
  }

   .section1 .products__gridcontaier .productline #book img {
    width: 180px;
    height: 180px;
  }

   .section1 .products__gridcontaier .productline #chair {
    display: flex;
  }

   .section1 .products__gridcontaier .productline #chair #chairText {
    position: relative;
    left: 10px;
    margin-top: 100px !important;
  }

   .section1 .products__gridcontaier .productline #chair img {
    z-index: -1;
    width: 339px;
    height: 339px;
  }

   .section1 .products__gridcontaier .productline #clock {
    display: flex;
  }

   .section1 .products__gridcontaier .productline #clock img {
    z-index: -1;
    width: 280px;
    height: 280px;
    margin-left: 20px !important;
  }

   .section1 .products__gridcontaier .productline #clock .aboutText {
    position: relative;
    top: 90px;
  }

   .section1 .products__gridcontaier .productline #box img {
    width: 200px;
  }

   .section1 .products__gridcontaier .productline #chair3 {
    display: flex;
  }

   .section1 .products__gridcontaier .productline #chair3 img {
    width: 300px;
    z-index: -1;
  }

   .section1 .products__gridcontaier .productline #chair3 .aboutText {
    position: relative;
    top: 100px;
  }

   .section2 #section2Back {
    width: 100%;
    height: 900px !important;
    position: absolute;
    z-index: -1;
  }

   .section2__about {
    display: flex;
    flex-direction: column;
    padding-right: 0 !important;
    padding-top: 20px !important;
  }

   .section2__about #chair__container {
    margin: auto !important;
    width: 320px !important;
    height: 520px !important;
  }

   .section4 {
    transition: 330ms;
    margin-top: 50px !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 !important;
    transform: translate(5%, 0%);
  }

   .section4 .section4__product {
    overflow: hidden;
  }

   .section4 .section4__product .section4__img {
    overflow: hidden;
    width: 155px;
    height: 250px;
  }

   .section4 .section4__product .section4__img img {
    width: 100%;
    height: 100%;
  }

   .section5 {
    padding: 20px 55px !important;
    width: 100%;
    height: 450px;
    position: absolute;
    margin-top: 100px !important;
  }

   .section5 #section5__background {
    width: 100%;
    height: 100%;
    z-index: -2;
  }

   .section5 .section5__title {
    position: absolute;
    top: 120px;
    left: 100px;
    color: #303234;
    text-align: center;
    z-index: 1;
  }

   #section5__chair {
    width: 250px;
    height: 430px;
    left: 500px;
    z-index: 0;
    top: 70px;
    position: relative;
  }
    .navigarions {
    display: flex;
    flex-direction: column !important;
    align-items: start;
    padding-left: 20px !important;
  }

   .navigarions a {
    padding: 20 !important;
  }

   .navigarions #allP {
    padding-top: 20px !important;
  }

   .navigarions .endItems {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {
  .slide-content {
    display: flex;
    justify-content: center;
    height: 500px !important;
    padding: 0px !important;
    padding-left: 90px !important;
    margin-left: 60px !important;
    width: 79% !important;
    justify-content: none;
  }

  .slide-content .right img {
    width: 240px !important;
    padding-top: 40px !important;
  }

  .slide-content .right .item {
    position: absolute !important;
  }

  .slide-content .right .itemBeing {
    position: relative;
    width: 380px;
    bottom: 20px !important;
    opacity: 0;
  }

  .slide-content .right .item2 {
    bottom: 20px !important;
    left: 20px !important;
    z-index: -1;
  }

  .slide-content .left {
    margin: 0 !important;
    width: 553px;
  }

  .slide-content .left p {
    color: #868e96;
  }

  .slide-content .left h2 {
    font-size: 15px !important;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 5px;
    font-weight: 400;
  }

  .slide-content .left h1 {
    font-size: 37px !important;
    width: 200px;
    padding-top: 11px !important;
    line-height: 41px !important;
  }

  .slide-content .left button {
    margin-top: 48px !important;
    border: 1px solid #bcac76;
    background-color: transparent;
    color: #bcac76;
    font-size: 13px;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 4px;
    font-weight: 600;
    padding: 10px 15px !important;
  }

  .slide-content .left button:hover {
    color: black !important;
    background-color: #bcac76;
    transition: 300ms;
  }

  .navbar_header .header_left {
    gap: 28px;
    display: none !important;
  }

  .navbar_header #nav_center {
    right: 0 !important;
  }

  .slide-content {
    height: 500px !important;
    padding: 0px !important;
    padding-left: 60px !important;
    width: 100%;
    justify-content: center;
  }

  .slide-content .right .itemBeing {
    width: 380px;
    bottom: 0px !important;
  }

  .slide-content .left h1 {
    font-size: 67px;
    padding-top: 20px !important;
    line-height: 35px !important;
  }

  .slide-content .left button {
    margin-top: 0px !important;
    border: 1px solid #bcac76;
    background-color: transparent;
    color: #bcac76;
    font-size: 13px;
    text-transform: uppercase;
    word-spacing: -3px !important;
    letter-spacing: 4px;
    font-weight: 600;
    padding: 10px 25px !important;
  }

  .section1 {
    display: none;
  }

  .section1__small {
    display: block !important;
    width: 100%;
  }

  .section1__small .products__gridcontaier {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    transform: translate(10%);
  }

  .section1__small .products__gridcontaier .product:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 300ms;
  }

  .section1__small .products__gridcontaier .product {
    z-index: 2;
    padding-bottom: 100px !important;
  }

  .section1__small .products__gridcontaier .product img {
    width: 100%;
  }

  .section1__small .products__gridcontaier .product h1 {
    font-size: 32px;
    font-weight: 600;
    width: 50px;
    color: rgba(0, 0, 0, 0.777);
  }

  .section1__small .products__gridcontaier .product p {
    color: #868e96;
    font-weight: 600;
    font-size: 16px;
    padding: 20px 0 !important;
  }

  .section1__small .products__gridcontaier .product a {
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    text-decoration: none;
    color: currentColor !important;
    padding: 20px 0 !important;
  }

  .section1__small .products__gridcontaier .product a:visited {
    color: currentColor !important;
  }

  .section1__small .products__gridcontaier #book img {
    width: 80%;
    height: 380px;
  }

  .section1__small .products__gridcontaier #chair {
    display: flex;
  }

  .section1__small .products__gridcontaier #chair #chairText {
    position: relative;
    left: 10px;
    margin-top: 100px !important;
  }

  .section1__small .products__gridcontaier #chair img {
    z-index: -1;
    width: 409px;
    height: 439px;
  }

  .section1__small .products__gridcontaier #clock {
    display: flex;
  }

  .section1__small .products__gridcontaier #clock img {
    z-index: -1;
    width: 380px;
    height: 380px;
    margin-left: 20px !important;
  }

  .section1__small .products__gridcontaier #clock .aboutText {
    position: relative;
    top: 90px;
  }

  .section1__small .products__gridcontaier #box img {
    width: 500px;
  }

  .section1__small .products__gridcontaier #clock2 img {
    width: 500px;
  }

  .section1__small .products__gridcontaier #chair3 {
    display: flex;
  }

  .section1__small .products__gridcontaier #chair3 img {
    z-index: -1;
    width: 409px;
    height: 439px;
  }

  .section1__small .products__gridcontaier #chair3 .aboutText {
    position: relative;
    top: 100px;
  }

  .section2 #section2Back {
    width: 100%;
    height: 900px !important;
    position: absolute;
    z-index: -1;
  }

  body .section2 .section2__about {
    padding: 50px !important;
  }

  .section4 {
    transition: 330ms;
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    transform: translate(10%, 0%) !important;
  }

  .section4 .section4__product {
    overflow: hidden;
  }

  .section4 .section4__product .section4__img {
    overflow: hidden;
    width: 205px !important;
    height: 250px;
  }

  .section4 .section4__product .section4__img img {
    width: 100%;
    height: 100%;
  }

  .section5 .section5__title h1 {
    font-size: 40px !important;
  }

  .section5 .section5__title h2 {
    font-size: 20px !important;
    font-weight: 400;
  }

  .section5 .section5__title button {
    background-color: transparent;
    border: 1px solid #303234;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    color: #303234;
    padding: 10px 20px !important;
    margin-top: 40px !important;
    z-index: 3 !important;
  }

  .section5 .section5__title button:hover {
    transition: 400ms;
    color: white !important;
    background-color: black !important;
  }

  #section5__chair {
    display: none;
  }

  

@media only screen and (max-width: 768px) {
  .slide .slide-content {
    display: flex;
    justify-content: flex-start !important;
    padding-left: 0px !important;
    width: 79% !important;
  }

  .slide .slide-content .right {
    display: none;
  }

  .slide .slide-content .left {
    margin: 0 !important;
    width: 553px;
  }

  .slide .slide-content .left p {
    color: #868e96;
  }

  .slide .slide-content .left h1 {
    width: -moz-max-content;
    width: max-content;
  }

  .navbar_header .header_left {
    gap: 28px;
    display: none !important;
  }

  .navbar_header #nav_center {
    right: 0 !important;
  }

  .slide-content {
    height: 500px !important;
    padding: 0px !important;
    padding-left: 60px !important;
    width: 100%;
    justify-content: center;
  }

  .slide-content .right .itemBeing {
    width: 380px;
    bottom: 0px !important;
  }

  .slide-content .left h1 {
    font-size: 67px;
    padding-top: 20px !important;
    line-height: 35px !important;
  }

  .slide-content .left button {
    margin-top: 0px !important;
    border: 1px solid #bcac76;
    background-color: transparent;
    color: #bcac76;
    font-size: 13px;
    text-transform: uppercase;
    word-spacing: -3px !important;
    letter-spacing: 4px;
    font-weight: 600;
    padding: 10px 25px !important;
  }

  .section1 {
    display: none;
  }

  .section1__small {
    display: block !important;
    width: 100%;
  }

  .section1__small .products__gridcontaier {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    transform: translate(10%);
  }

  .section1__small .products__gridcontaier .product:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 300ms;
  }

  .section1__small .products__gridcontaier .product {
    z-index: 2;
    padding-bottom: 100px !important;
  }

  .section1__small .products__gridcontaier .product img {
    width: 100%;
  }

  .section1__small .products__gridcontaier .product h1 {
    font-size: 32px;
    font-weight: 600;
    width: 50px;
    color: rgba(0, 0, 0, 0.777);
  }

  .section1__small .products__gridcontaier .product p {
    color: #868e96;
    font-weight: 600;
    font-size: 16px;
    padding: 20px 0 !important;
  }

  .section1__small .products__gridcontaier .product a {
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    text-decoration: none;
    color: currentColor !important;
    padding: 20px 0 !important;
  }

  .section1__small .products__gridcontaier .product a:visited {
    color: currentColor !important;
  }

  .section1__small .products__gridcontaier #book img {
    width: 80%;
    height: 380px;
  }

  .section1__small .products__gridcontaier #chair {
    display: flex;
  }

  .section1__small .products__gridcontaier #chair #chairText {
    position: relative;
    left: 10px;
    margin-top: 100px !important;
  }

  .section1__small .products__gridcontaier #chair img {
    z-index: -1;
    width: 340px;
    height: 400px;
  }

  .section1__small .products__gridcontaier #clock {
    display: flex;
  }

  .section1__small .products__gridcontaier #clock img {
    z-index: -1;
    width: 300px;
    height: 280px;
    margin-left: 20px !important;
  }

  .section1__small .products__gridcontaier #clock .aboutText {
    position: relative;
    top: 90px;
  }

  .section1__small .products__gridcontaier #box img {
    width: 400px;
  }

  .section1__small .products__gridcontaier #clock2 img {
    width: 400px;
  }

  .section1__small .products__gridcontaier #chair3 {
    display: flex;
  }

  .section1__small .products__gridcontaier #chair3 img {
    z-index: -1;
    width: 309px;
    height: 339px;
  }

  .section1__small .products__gridcontaier #chair3 .aboutText {
    position: relative;
    top: 100px;
  }

  .section2 #section2Back {
    width: 100%;
    height: 900px !important;
    position: absolute;
    z-index: -1;
  }

  .section2 .section2__about #time {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 20px 0px !important;
    position: relative;
    width: 412px !important;
    height: 77px;
  }

  body .section2 .section2__about {
    padding: 50px !important;
  }

  .section4 {
    transform: translate(5%, 0%) !important;
  }

  .section5__title {
    position: relative;
    right: 90px;
  }

  body .section5 {
    padding: 20px 13px !important;
    width: 100%;
    height: 450px;
    position: absolute;
    margin-top: 100px !important;
  }

  #section5__chair {
    display: none;
  }
}}